.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
/* 라이트 모드 */
.footer.light {
  background: #f9f9f9;
  color: #111;
}

/* 다크 모드 */
.footer.dark {
  background: #111;
  color: #f9f9f9;
}